In [1]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import tmdbv3api as tm

In [2]:
def fetch_id(data,api):
    tmdb = tm.TMDb()
    tmdb.api_key = api
    movie = tm.Movie()
    movie_id = {}
    for movies in data["Title"].values:
        title = movies
        try:
            for i in range(1,501):
                search = movie.search(title,page = i)
                if (i == 1) and len(search) == 0:
                    movie_id[title] = "unknown" 
                    break
                if (len(search) == 0) and (title not in movie_id):
                    movie_id[title] = "unknown"
                    break
                elif (len(search)==0):
                    break
                else:
                    if (len(search)==1)and(title not in movie_id):
                        movie_id[title] = search[0].id
                        break
                    else:
                        for re in search:
                            if title.lower() == re["title"].lower():
                                movie_id[title] = re.id
                                break
                            else:
                                continue
            else:         
                movie_id[title] = "unknown" 
        except:
            movie_id[title] = "error"        
    return movie_id

In [3]:
#year-10
html = requests.get("https://en.wikipedia.org/wiki/List_of_Tamil_films_of_2010").content
data_10 = pd.read_html(html)

In [4]:
data_10 = pd.concat(data_10[0:4])
data_10.shape

(143, 7)

In [5]:
data_10_1 = data_10[["Title","Director","Cast"]]
data_10_1.shape

(143, 3)

In [6]:
ids_10 = fetch_id(data_10_1,api ="72e7e0f7ee11ebdc1650e3fd64deb609" )

In [28]:
len(ids_10)

143

In [7]:
#year-11
html = requests.get("https://en.wikipedia.org/wiki/List_of_Tamil_films_of_2011").content
data_11= pd.read_html(html)

In [8]:
data_11 = data_11[1]
data_11.shape

(67, 8)

In [9]:
data_11_1 = data_11[["Title","Director","Cast"]]
data_11_1.shape

(67, 3)

In [10]:
ids_11 = fetch_id(data_11_1,api ="72e7e0f7ee11ebdc1650e3fd64deb609" )

In [27]:
len(ids_11)

67

In [11]:
#year-12
html = requests.get("https://en.wikipedia.org/wiki/List_of_Tamil_films_of_2012").content
data_12= pd.read_html(html)

In [12]:
data_12 = pd.concat(data_12[0:2])
data_12.shape

(144, 8)

In [13]:
data_12_1 = data_12[["Title","Director","Cast"]].dropna()
data_12_1.shape

(139, 3)

In [14]:
ids_12 = fetch_id(data_12_1,api ="72e7e0f7ee11ebdc1650e3fd64deb609" )

In [26]:
len(ids_12)

139

In [15]:
#year-13
html = requests.get("https://en.wikipedia.org/wiki/List_of_Tamil_films_of_2013").content
data_13= pd.read_html(html)

In [16]:
data_13 = pd.concat(data_13[0:4])
data_13.shape

(147, 8)

In [17]:
data_13_1 = data_13[['Title',"Director","Cast"]].dropna()
data_13_1.shape

(139, 3)

In [18]:
ids_13 = fetch_id(data_13_1,api ="72e7e0f7ee11ebdc1650e3fd64deb609" )

In [25]:
len(ids_13)

139

In [19]:
#year-14
html = requests.get("https://en.wikipedia.org/wiki/List_of_Tamil_films_of_2014").content
data_14= pd.read_html(html)

In [20]:
data_14 = pd.concat(data_14[2:4])
data_14.shape

(207, 9)

In [21]:
data_14_1 = data_14[["Title","Director","Cast"]].dropna()
data_14_1.shape

(203, 3)

In [22]:
ids_14 = fetch_id(data_14_1,api ="72e7e0f7ee11ebdc1650e3fd64deb609" )

In [111]:
def merge_data(data,ids):
    data_ids = []
    for i,z in zip(data,ids):
        i = i.copy()
        i['TMDB_id'] = z.values()
        data_ids.append(i)
    new = pd.concat(data_ids)
    return new

In [112]:
movies = merge_data([data_10_1,data_11_1,data_12_1,data_13_1,data_14_1],[ids_10,ids_11,ids_12,ids_13,ids_14])

In [140]:
movies_1 = movies.dropna()

### Cleaning Data

In [141]:
movies_1["TMDB_id"].value_counts()>1# id should be unique

unknown     True
170663      True
251635      True
264998      True
280944     False
           ...
267726     False
55795      False
51867      False
180682     False
78848      False
Name: TMDB_id, Length: 483, dtype: bool

In [142]:
movies_1.reset_index(drop = True,inplace=True)

In [143]:
movies_1[movies_1["TMDB_id"] == 170663]

,Title,Director,Cast,TMDB_id
171,Aduthathu,Thakkaali Srinivasan,"Sriman, Meenal, Ilavarasu, Nassar",170663
247,Aduthathu,Thakkaali Srinivasan,"Sriman, Meenal, Darshini, Nassar",170663

In [144]:
movies_1.drop(index=247,inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [145]:
movies_1[movies_1["TMDB_id"] ==251635 ]

,Title,Director,Cast,TMDB_id
285,Palayamkottai,G. Shekar,"G. Shekar, Inbanila, Bose Venkat",251635
492,Malini 22 Palayamkottai,Sripriya,"Nithya Menen, Krish J. Sathaar",251635

In [146]:
movies_1.drop(index=285,inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [147]:
movies_1[movies_1["TMDB_id"] ==264998]

            Title   Director                      Cast TMDB_id
107  Mattuthavani  Pavithran  Ramkiran, Menaka, Meetha  264998
248  Mattuthavani  Pavithran              Vimal, Soori  264998

In [148]:
movies_1.drop(index=248,inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [149]:
movies_1

,Title,Director,Cast,TMDB_id
0,Pugaippadam,Rajesh Lingam,"Amjad, Priya Anand, Harish",112113
1,Thunichal,Majith,"Arun Vijay, Swathika, Shiva Munjal, Ramana",112316
2,Kalasaaram,Kutty Radha,"Satish, Yathra",unknown
3,Aayirathil Oruvan,Selvaraghavan,"Karthi Sivakumar, Reemma Sen, Andrea Jeremiah,...",69597
4,Kutty,M. Jawahar,"Dhanush, Shriya Saran, Sameer Dattani",445329
...,...,...,...,...
678,Kappal,Karthik Krish,"Vaibhav, Sonam Bajwa, Karunakaran",311152
679,Kayal,Prabhu Solomon,"Chandran, Anandhi, Vincent",307000
680,Meaghamann,Magizh Thirumeni,"Arya, Hansika Motwani, Sudhanshu Pandey",264041
681,Vellaikaara Durai,Ezhil,"Vikram Prabhu, Sri Divya",280145
682,Pesadha Padam,Aadhavan,"Abirooban, Bharathi",unknown

In [150]:
movies_1.to_csv("data_10_14.csv")

In [151]:
def get_overview_genre(data) :
    overview = []
    genre = []
    for id in data['TMDB_id'].values:
        if type(id) == int:
            rep = requests.get("https://api.themoviedb.org/3/movie/{}?api_key=72e7e0f7ee11ebdc1650e3fd64deb609".format(id))
            overview.append(rep.json()["overview"])
            p = []
            for i in range(len(rep.json()['genres'])):
                p.append(rep.json()['genres'][i]["name"])
            genre.append(" ".join(p))
        else:
            overview.append("unknown")
            genre.append("unknown")
    return overview,genre

In [125]:
over,genre = get_overview_genre(movies_1)

In [152]:
movies_1=movies_1.copy()

In [153]:
movies_1["overview"] = over

In [154]:
movies_1['genre'] = genre

In [155]:
movies_1['actorname_1'] = movies_1['Cast'].apply(lambda x: x.split(",")[0])

In [156]:
def act1(x):
    if len(x.split(","))>1:
        return x.split(",")[1]
    else:
        return "unknown"
def act2(x):
    if len(x.split(","))>2:
        return x.split(",")[2]
    else:
        return "unknown"

In [157]:
movies_1['actorname_2'] = movies_1['Cast'].apply(lambda x:act1(x))
movies_1['actorname_3'] = movies_1['Cast'].apply(lambda x:act2(x))

In [160]:
movies_1["tag_all"] = movies_1["overview"]+" "+movies_1["genre"]+" "+movies_1["Director"]+" "+movies_1["actorname_1"]+" "+movies_1["actorname_2"]+" "+movies_1["actorname_3"]

In [166]:
movies_1["tag_1"] =movies_1["genre"]+" "+movies_1["Director"]+" "+movies_1["actorname_1"]+" "+movies_1["actorname_2"]+" " +movies_1["overview"]

In [167]:
movies_1["tag_2"] = movies_1["genre"]+" "+movies_1["Director"]+" "+movies_1["actorname_1"]+" "+movies_1["actorname_2"]

In [168]:
movies_1.to_csv("final_10_14.csv")